<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.clubz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".ClubZ"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@drawable/new_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/new_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Splash">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.authentication.Sign_In_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.main.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".ui.guide.Inro_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.authentication.Otp_activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ui.authentication.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".utils.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CropImage" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".helper.broadcastreceiver.activity.NetworkErrorActivity" />
        <activity
            android:name=".ui.club.ClubsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight" />
        <activity
            android:name=".ui.club.ClubDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.club.ClubCreationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.user_activities.activity.NewActivities"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight"
            android:windowSoftInputMode="stateHidden" />

        <!-- Service -->
        <receiver android:name=".helper.broadcastreceiver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".helper.sms_reciver.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name=".helper.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".helper.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="39a3f4bfccefb2b1c6bbe01ed20cbb11782caffa" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- PlaceAutocompleteFragment -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBbpgox7d2eiD1fxpNu9-VaYCM_WSkhQqE" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="font"
            android:resource="@array/clubz_font" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- chiranjib -->
        <activity
            android:name=".ui.user_activities.activity.ActivitiesDetails"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight" />
        <activity
            android:name=".ui.newsfeed.CreateNewsFeedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.newsfeed.NewsFeedDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight" />
        <activity
            android:name=".ui.newsfeed.MyNewsFeedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight" />
        <activity
            android:name=".ui.profile.ProfileEditActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.clubz.ui.profile.ContactListActivity" />

        <activity
            android:name=".ui.profile.ContactListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.ads.activity.CreateAdActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.ads.activity.AdDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight" />
        <activity
            android:name=".chat.AllChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.user_activities.activity.AddEventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.user_activities.activity.EventDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThmeLight"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>